# Blank if development. Domain if production.
export NEXT_PUBLIC_DOMAIN_NAME=

# Locize API keys for localization.
export NEXT_PUBLIC_LOCIZE_PROJECT_ID=81484fee-53e9-40cd-a1b5-858a5403d94d
export NEXT_PUBLIC_LOCIZE_VERSION=latest

# Only one is needed
# API keys for read only RPC calls.
export NEXT_PUBLIC_ALCHEMY_API_KEY=
export NEXT_PUBLIC_ETHERSCAN_API_KEY=
export NEXT_PUBLIC_INFURA_ID=b367deb772b94e9abf1bc4e2d6e5cfad

# Optional
# Sentry DSN
export NEXT_PUBLIC_SENTRY_DSN=
export NEXT_PUBLIC_SENTRY_ENV=
export SENTRY_REPO_NAME=pooltogether/v4-ui
export SENTRY_PROJECT=v4-ui
export SENTRY_ORG=pooltogether

# Optional
# API keys for extra wallet support.
export NEXT_PUBLIC_FORTMATIC_API_KEY=
export NEXT_PUBLIC_FORTMATIC_PRODUCTION_API_KEY=
export NEXT_PUBLIC_PORTIS_API_KEY=

# Optional
# Locize Dev API key for writing values.
export NEXT_PUBLIC_LOCIZE_DEV_API_KEY=954a7682-e60d-45d9-89e5-9c4a23ada8b7

# Optional
# Fathom API keys for analytics tracking.
export NEXT_PUBLIC_FATHOM_SITE_ID=

# Optional
export NEXT_PUBLIC_COINBASE_PAY_APP_ID=